<div class="photo_header header">
    <h5>Other apps</h5>
</div>

<div class="app_container content">

    <section class="section_title"><h1>Film Photography Podcast<sup class="footnote_mark">1</sup></h1></section>

    <br>

    <audio class="podcast" controls>
        <source src="/static/audio/2019_10_22_FilmPhotographyPodcast234__.mp3" type="audio/mp3">
    </audio>

    <br>

    <section class="section_title"><h1>Mobile Apps</h1></section>

    <p>This app is cool and all, but you might want something more mobile-friendly or maybe to help you with composition, exposure, etc.
        <span>
            In that case, you may want to try one or two of these apps.
        </span>
    </p>

    <br>

    <ol>
        <li class="app"><a href="https://lightmate.app/"><h4>Lightmate</h4></a>
            <ul>
                <li><span class="app_property">Description:</span> Don't have an exponometer? Now you do!</li>
                <li><span class="app_property">Price:</span> Free</li>
            </ul>
        </li>
        <li class="app"><a href="https://apps.apple.com/us/app/adobe-lightroom-photo-editor/id878783582"><h4>Lightroom</h4></a>
            <ul>
                <li><span class="app_property">Description:</span> Now you can edit the photos you exposed badly. <strong>*Cough* ... all of them ... *Cough*</strong></li>
                <li><span class="app_property">Price:</span> 
                    <ul>
                        <li>Free</li>
                        <li>Lightroom Pro: $9.99 Monthly</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="app"><a href="https://apps.apple.com/us/app/lightmatic-larga-exposici%C3%B3n/id1369253556?l=es"><h4>Lightmatic</h4></a>
            <ul>
                <li><span class="app_property">Description:</span> Long exposure on your phone! What more could you want?</li>
                <li><span class="app_property">Price:</span> $0.99</li>
            </ul>
        </li>
    </ol>

    <br>

    <section class="section_title"><h1>Support your local developers 🐑 </h1></section>

    <table>
        <tr>
            <th>Plan</th>
            <th>Free</th>
            <th>Premium</th>
            <th>Family Plan</th>
        </tr>
        <tr>
            <td>Available Storage</td>
            <td>All the storage your device can handle</td>
            <td><i>So. Much. Storage.</i></td>
            <td><i><strong>Unreal.</strong></i></td>
        </tr>
        <tr>
            <td>Benefit to developer</td>
            <td>A thank you!</td>
            <td>A cup of coffee!</td>
            <td><i>Steak dinner!</i></td>
        </tr>
        <tr>
            <td>Price</td>
            <td>$0.00</td>
            <td>$3.99</td>
            <td>$9.99</td>
        </tr>
    </table>

    <br>

    <hr>
    <p class="footnote">Published 07.04.2020</p>
    <p class="footnote"><sup>1</sup> I did not actually listen to the podcast.</p>
</div>