<p id="open_drawer">&#x25E7;</p>
<div class="sidebar">
    <div class="title">
        <a href="/"><h2><%= title %></h2></a>
        <p id="close_drawer">&#x25E8;</p>
    </div>

    <div class="routes">
        <div id="photo_list" class="route">
            <p>Photos</p>
            <img src="/static/images/arrow.svg">
        </div>
        <div id="add_photo" class="route">
            <p>Add a photo</p>
            <img src="/static/images/arrow.svg">
        </div>
        <div id="camera_list" class="route">
            <p>Cameras</p>
            <img src="/static/images/arrow.svg">
        </div>
        <div id="add_camera" class="route">
            <p>Add a camera</p>
            <img src="/static/images/arrow.svg">
        </div>
        <div id="messages" class="route">
            <p>Messages</p>
            <img src="/static/images/arrow.svg">
        </div>
    </div>

    <script src="/static/js/sidebar.js"></script>
    
</div>